/* responsivo */

@media (max-width: 500px) {
  .table-base1 {
    display: none;
  }
  .fechado {
    display: block; 
  }
} 

@media ( max-width: 749px) {
 
  .container {
    border-width: 10px;
    border-radius: 20px;
}

    .img {
        float: right;
    }
    .menu {
        position: relative;
    }    
    .nav-menu ul {
        position: fixed;
        width: 40%;
        height: auto;
        background: #032058;
        top: 65px;
        right: -100%;
        text-align: center;      
        transition: all .5s;
        display: block;
        padding: 10px;
    }
    
    .nav-menu ul li {
        display: block;
    }
    
    .nav-menu ul li a {
      color: #fff;
      padding: 2px;
    }
    
    #check:checked ~ ul {
        right: 0;
    }
    #check {
        position: relative;
        opacity: 0;
      }
      
    .label {
        cursor: pointer;
        position: relative;
        display: block;
        width: 30px;  
        padding: 10px 0; 
        float: right;
    }
      
    .label span{
        position: absolute;
        display: block;
        height: 5px;
        width: 100%;
        border-radius: 30px;
        background: #032058;
        transition: 0.25s ease-in-out;     
      }
      
    .label span:nth-child(1){
        top: 0;
      }
      
    .label span:nth-child(2){
        top: 8px;
      }
      
    .label span:nth-child(3){
        top: 16px;
      }
      
    #check:checked + label span:nth-child(1){
        transform: rotate(-45deg);
        top: 8px;
      }
      
    #check:checked + label span:nth-child(2){
        opacity: 0;
      }
      
    #check:checked + label span:nth-child(3){
        transform: rotate(45deg);
        top:8px;
      }

      main {
        padding-top: 5px;
    }

/* status */ 

h3 {
  font-size: 20px;
}

h1 {
  font-size: 17px;
}

.grid-table#networkData {
  grid-template-columns: 1fr 1fr ;
  color: #161616;
  max-width: 960px;
  padding: 15px;
  grid-gap: 0;
}

.grid-table h1 {
  font-size: 12px;
}

.dot { 
  font-size: 25px;
}

.status6 {
  background: #BEBEBE;
}

.status7 {
  background: #fff;
}

.status3 {
  border-right: none;
  border-color: #7D7878;
  text-align: right;
  padding-right: none;
}

.status4 {
  border-left: none;
  border-color: #7D7878;
}

.status5 {
  text-align: right;
  padding-right: none;
}

/* Wifi */

#networkData {
  grid-template-columns: 1fr;
  max-width: 300px;
  grid-gap: 10px;
}

.grid-wifi {
  grid-template-columns: 1fr;
  max-width: 280px;
  margin: 0 auto;
  text-align: right;
  grid-gap: 10px;
}

.grid-usuario { 
  grid-template-columns: 1fr;
  max-width: 280px;
  margin: 0 auto;
  text-align: right;
  grid-gap: 10px;
}

input[type=submit] {
  margin: 0 auto;
}

/* serve */

.grid-form1 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.input2 {
  width: 200px;
}

/* Radio */ 

table {
  font-size: 12px;
}

#rxData {
    grid-template-columns: 1fr;
    max-width: 300px;
  }

.grid-form {
  max-width: 210px;
}

.baseradio {
  grid-template-columns: 1fr;
  grid-gap: 10px;
  max-width: 300px;
  margin: 0 auto;
}

/* wiegend */ 

.input4 {
  width: 158px;
}

.input3 {
  width: 150px;
}


#rfIdOffline1Data {
  grid-template-columns: 1fr;
  max-width: 300px;
}

#rfIdOffline2Data {
  grid-template-columns: 1fr;
  max-width: 300px;

}

.grid-form2 {
  margin-top: 5px;
  margin-left: 50px;
}

.grid-form2 input {
  margin-left: 25px;
}

#rfIdOffline1Data .grid-form {
  max-width: 250px;
}

#rfIdOffline2Data .grid-form {
  max-width: 250px;
}

/* gatilho */

.grid-formbase {
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.grid-formbase .grid-form{
  max-width: 250px;
  margin: 0 auto;
}

.basebtn {
  grid-gap: 10px;

}

.grid-tablestatus {
  grid-template-columns: 1fr 1fr ;
  color: #161616;
  max-width: 960px;
  padding: 15px;
  grid-gap: 0;

}

.grid-table#networkData .btn2 {
  grid-column: 2;
}

.status8 {
  display: none;
}
.btn3 {
   background: #fff;
}

.submit2 input[type=submit] {
  box-shadow: none;
  height: 18px;
  font-size: 10px;
  max-width: 50px
}

.submit2 input[type=file]{
  max-width: 118px;
  padding-left: 5px;
  font-size: 10px;
  text-align: left;
  cursor: pointer;
}

.btn2.status5 {
  padding: 0;
}

h1 {
  display: grid;
  padding-top: 3px;
}

.basebtn1 input[type=button] {
  width: 90px;

}

}


