/* reset */ 
body, h1, h2, h3, p, ul {
    padding: 0px;
    margin: 0px;
}

body {
    font-family:  Courier New, serif;
    background: #032058;
    color: #FFFFFF;    
}
/* menu */

img {
    width: 135px;
    height: 40px;
}

.container-menu {
    display: flex;
    max-width: 1290px;
    margin: 0 auto;
    padding: 10px;
    align-items: center;
}
 
.container-iframe {
    display: flex;
    max-width: 1290px;
    margin: 0 auto;
}

iframe {
    border: none;
}

.menu {
    background: #FFFFFF;
}

.nav-menu a {
    text-decoration: none;
    color: #1606FF;
    font-size: 16px;
    letter-spacing: .1em;
}

.nav-menu a:hover {
   color: black;
}

 .nav-menu {
     flex: 1;
     align-self: center;
 }

 .nav-menu ul {
     display: flex;
     list-style: none;
     flex-wrap: wrap;
     float: right;

 }

 .nav-menu ul li a {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding: 0 0 0 30px;
 }

 #check {
    display: none;
}

main {
    padding-top: 20px;
}

/* status */ 

.titulo {   
    display: grid;
    margin: 0 auto;
    max-width: 1130px;
    height: 30px;
    background: #1606FF;
    box-shadow: 2px 2px 3px #161616;
    align-content: center;
}

.subtitulo {   
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    max-width: 1130px;
    height: 30px;
    background: #1606FF;
    box-shadow: 2px 2px 3px #161616;
    align-content: center;
}

h3 {
    font-family: Sitka Banner, sans-serif;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-align: center;
    align-content: center;
}

h1 {
    font-family: Sitka Banner, sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: .1em;
    align-content: center;
    padding-left: 20px;
}

.infportas {
    margin: 0 auto;
    margin-top: 15px;
    max-width: 690px;
    height: 120px;
    border-radius: 20px;
    background: #E9E9E9;
    box-shadow: 0 0 5px  #161616;
    margin-bottom: 15px;
}

/* status da porta*/

.dot { 
    padding: 1px;
    border: 2px solid #fff;
    border-radius: 100%;
    background-color: #fff;
    cursor: pointer;
    color: #161616;
    font-size: 30px;
}
.dotyes {
    height: 30px;
    width: 30px;
    padding: 1px;
    background-color: greenyellow;
    border-radius: 100%;
}

.dotno {
    height: 30px;
    width: 30px;
    padding: 1px;
    background-color: red;
    border-radius: 100%;
}

.numportas a {
    margin-top: 10px;
}

.numportas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 110px;
    align-items: center;
    text-align: center;
}

/* botão de status */

#isFixedIp {
    display: none;
}

#mqttActive {
    display: none;
}

#cayActive {
    display: none;
}

#rxIsActive {
    display: none;
}

#rxOfflineActive {
    display: none;
}

#rfIdOffline1Active {
    display: none;
}

#rfIdOffline1Remote {
    display: none;
}

#rfIdOffline2Active {
    display: none;
}
#rfIdOffline2Remote {
    display: none;
}

.switch {
    color: #ffffff;
    font-size: 18px;
}

input:checked+.switch {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.switch.round {
    position: relative;
    display: block;
    border-radius: 34px;
    width: 20px;
    text-align: center;
    float: right;
    transition: 0.25s;
}

/* tabela */ 

.grid-table#networkData {
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    color: #161616;
    max-width: 960px;
    padding: 30px;
}

.grid-table h1 {
    font-size: 15px;
    font-family: Franklin Gothic Book, sans-serif;
    font-weight: bold;
}

/* wifi */

.subtitulo1 {
    display: flex;
    max-width: 1290px;
    background: #5A5858;
    height: 20px;
    margin-top: 10px;
}
.subtitulo1 h1 {
    font-family: Sitka Banner, sans-serif;
    font-size: 20px
}
.grid-wifi {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    max-width: 600px;
    padding: 15px;
    padding-left: 20px;
}

.grid-wifi {
    font-size: 15px;
    font-family: Sitka Banner, sans-serif;
    color: #161616;
    font-weight: bold;
}

.select {
    width: 150px;
    height: 21px;
}

.input1 {
    width: 142px;
}

.input2 {
    width: 400px;
}

.input3 {
    width: 200px ;
}

.input4 {
    width: 208px;
}

.input5 {
    width: 100%;
}

.btncheck {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;  
    height: 20px;
    align-content: center;
}

.btncheck .switch {
    grid-column: 4;
    }

.fontbtn {
    font-family: Sitka Banner, sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: .1em;
    padding: 1px;
}

.btncheck .switch.round {
    transition: none;
    margin: 0;
    width: 140px;
    background: #5A5858;
    border-radius: 0;
}

.btncheck input:checked+.switch {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

/* botoes */


input[type=submit] {
    width: 150px;
    height: 25px;
    background: #1606FF;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    box-shadow: 1px 1px 2px #161616;
}

input[type=submit]:hover {
    background-color: rgb(14, 14, 14);
}

/* server */

.btnconectar {
    display: flex;
    margin-top: 10px;
}

.btnconectar input {
    margin: 0 auto;
}

/* Rádio */

.checkbox {
    max-width: 300px;
    height: 40px;
    background: #1606FF;
    color: white;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 1px 2px #161616;
    
}

.checkbox input {
    width: 300px;
}

.slider {    
    display: block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: rgb(252, 0, 0);
    border-radius: 30px;
    float: right;
    margin: 5px 5px 0 0;
    
}

input:checked+.slider {
    background-color: #33ff00;
}

.slider1 {
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 3px;
    max-width: 300px;
    height: 40px;
    cursor: pointer;
}

.slider2 {
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 3px;
    max-width: 300px;
    height: 40px;
    cursor: pointer;
    padding-top: 12px;
}

.submit1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    float: right;
    height: 40px;
    max-width: 300px;
    background: #1606FF;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 1px 2px #161616;
    align-items: center;
}

.submit1 input[type=file]{
    max-width: 118px;
    padding-left: 25px;
}
.submit1 input[type=submit] {
    box-shadow: none;
}

/* table */ 

table {  
    margin-top: 10px;
    border-spacing: 0;
    width: 100%;
    background: #1606FF;
    text-align: left;
    padding-left: 10px;
    font-family: system-ui;
    font-size: 12px;
}

.button {
    margin-top: 10px;
    float: right;
    background: #1606FF;   
}

input.buttonlayer {
    background: #1606FF;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    
}

input.buttonlayer1 {
    height: 10px;
    background: #fff;
    border-radius: 30px;
    border:none;
    cursor: pointer;
}

.checkbox1 {
    max-width: 200px;
    height: 40px;
    background: #1606FF;
    color: white;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 1px 2px #161616;    
}

.checkbox1 input[type=submit] {
    width: 200px;
}

/* Gatilho */ 

.text input[type=text] {

    width: 100%;
    height: 25px;
}

.basebtn input[type=button] {
    width: 150px;
    height: 25px;
    background: #1606FF;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    box-shadow: 1px 1px 2px #161616;
}

.basebtn input[type=button]:hover {
    background: black;
}

.basebtn div {
    margin: 0 auto;
}



.buttonslayer {
    background: #1606FF;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: bold;   
    width: 200px;
    height: 25px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 1px 1px 2px #161616;
} 
.buttonslayer:hover {
    background-color: #000000;
}

.base .mybtn {
    display: grid;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.fechado {
    display: none;
    text-align: center;
    color: #000000;
}

/* popup da Tabela*/

.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.8); 
  }
  
  .modal-content {
    background-color: #E9E9E9;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid rgb(49, 48, 48);
    max-width: 1080px;
  }
  
  
  .close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  /* system */


.submit2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    float: right;
    height: 25px;
    max-width: 300px;
    background: #1606FF;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 1px 2px #161616;
    align-items: center;
}

.submit2 input[type=file]{
    max-width: 118px;
    padding-left: 25px;
}
.submit2 input[type=submit] {
    box-shadow: none;
    height: 18px;
    font-size: 12px;
}

.grid-table#networkData .btn2 {
    grid-column: 3 / span 2;
}

.btn2.status2 {
    height: 25px;
}

.btn3.status2 {
    height: 25px;
}

.basebtn1 input[type=button] {
    width: 150px;
    height: 25px;
    background: #1606FF;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    box-shadow: 1px 1px 2px #161616;
}

.basebtn1 input[type=button]:hover {
    background: black;
}

.basebtn1 div {
    margin: 0 auto;
}